<%= form_with model: workout, local: true do |f| %>
<%= f.label :name %>
<%= f.text_field :name, placeholder: "Morning run, Spin Class, etc." %>

<p>Workout Length</p>
<label>Start Time</label>
<%= f.datetime_local_field :start_time %>
<br>
<label>End Time</label>
<%= f.datetime_local_field :end_time %>
<br>
<%= f.label :workout_type %>
<%= f.text_field :workout_type %>
<br>
<%# checkboxes for days %>
<br>
<%= f.submit %>
<% end %>
