<%= form_with model: Workout.new do |f| %>
<%= f.label :name %>
<%= f.text_field :name, placeholder: "Morning run, Spin Class, etc." %>

<p>Workout Length</p>
<label>Hours</label>
<%= f.number_field :length %>
<label>Minutes</label>
<%= f.number_field :length %>
<br>
<%= f.label :type %>
<%= f.text_field :type %>
<%# f.checkboxes :days %>
<%= f.submit %>
<% end %>